h1 {
    color: red;
}

.navbar .navbar-brand {
    color: red;
}

.jumbotron {
    background-image: url(1200px-Washington_Wizards_logo.svg.png);
    background-attachment: fixed;
    background-size: cover;
}

.display-4 {
    padding: 80px;
    font-family: 'Handlee';
}